.product-preview-card {
  font-family: "Times New Roman", Times, serif;
  border: 3px solid brown;
  margin: 20px !important;
  border-radius: 15px;
  &__title {
    font-style: bold;
    color: rgb(143, 87, 4)
  }

  &__description {
    color: rgb(180, 114, 15);
  }

  &__image {
    width: 10rem;
    border-radius: 10px;
    border: 3px solid brown;
  }
}
