.home-page {
  font-family: sans-serif;
  &__title {
    color: black;
    font-weight: bolder;
    font-size: 40px;
  }

  &__products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
