.home-page {
  font-family: sans-serif;
  justify-content: center !important; 

  &__title {
    color: black;
    font-weight: bolder;
    font-size: 45px;
    margin-left: 30px;
  }

  &__products {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 10px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  input[type=text] {
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 12px 12px 12px;
    transition: width 0.4s ease-in-out;
    float: right;
    margin: auto;
    margin-right: 1%;
  }
}
