.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5%;
  border: 5px solid black;
  background-color: black;
  width: 99%;
}

.navbar__account{
  float:right
}

.logo {
  width:50px;
  height:50px;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 12px 12px 12px;
  transition: width 0.4s ease-in-out;
  float: left;
  margin-left: 25%;
}

.button{
  background: #ffe4c4;
  padding: 8px;
  margin: auto;
  margin-left: 10px;
  border-radius: 10px;
  background: #eec593;
  font-size: larger;
}
.button:active{
  background: #eed1ae;
}
.button:hover{
  background: #eab879;
}